<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>LoginPage</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Main Page</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<form action="/actions/act" method="POST">
    <div class="container-fluid">
        <table border="2" width="100%" cellpadding="5" class="table">
            <tr>
                <th>Checkbox</th>
                <th>Name</th>
                <th>Email</th>
                <th>Banned</th>
            </tr>
        {{#each users}}
            <tr>
                <td><input type="checkbox" class="checkbox" name="{{ id }}"></td> 
                <td>{{ username }}</td>
                <td>{{ email }}</td>
                <td>{{ isbanned }}</td>
            </tr>
        {{/each}}
        </table>
    </div>
    <div class="container">
        <button type="submit" class="btn btn-dark" name="block">Ban</button>
        <button type="submit" class="btn btn-danger" name="delete">Delete</button>
        <button type="submit" class="btn btn-warning" name="unblock">Unban</button>
        <button type="button" class="btn btn btn-info" onclick="checkAll()">Check all</button>
        <button type="button" class="btn btn-secondary" onclick="uncheckAll()">Uncheck all</button>
    </div>  
</form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>

    <script src="main.js"></script>
</body>

</html>